body{ 
	/*background-image es para imagen de fondo*/
	background-image:url("../imagenes/foto2.jpg");
	/*font-image es para la tipografia de la letra*/
	font-family:"Tahoma","Lucida Console","Courier New","Arial";
	/*color es para de las letras*/
	color:#FFFCF8;
	/*font-size es para eltamaño de las letras indicado en pixeles*/
	font-size:40px;
	text-align:center;
}
hr{
	/*border es para la linea de grosor que indica en pixeles, indicamos el tipo de linea y el codigo del color*/
	border:3px solid #DDAE6F;
	/*width es para el ancho de la linea*/
	width:80%;
	/*border-rarius es para redonder la punta de la linea*/
	border-radius:10px;	
}
p{
	text-align:justify;
	font-size:30px;
	color:#fff4de; 
	/*letras negritas*/
	font-weight:bold;
	/*interlineado*/
	line-height:1.5;
	/* cambiar el color del fondo del texto*/
	background-color:
	/*espacio entre cada letra*/
	letter-spacing:2px;
}
table,tr,td{
	border:1px solid #FFFFFF;
	border-spacing:0px;	
	background-color:
	font-size:20px;
	text-align:center;
	font-weight:bold;
}
/*clase para los pie de paginas*/
.pie{
	text-align:center;
	font-size:13px;
	font-weight:bold;
	color:#FFFCF8;
}
.encabezado{
	text-align:center;
	font-size:50px;
	font-weight:bold;
	color:#ffffff;
}
/*divs*/
div#top{
	font-family:fuente-Marimpa;
	width:100%;
	height:75px;
	background-image:linear-gradient(#DDAE6F,#382c20);
	/*background-image:radial-gradient(#DDAE6F,#382c20);*/
	/*background-image:conic-gradient(#DDAE6F,#382c20);*/
	/*background-image:url("../imagenes/foto3.jpg");*/
}
div#ppag{
	width:100%;
	height:100px;
	background-image:radial-gradient(#DDAE6F,#382c20);
}
/*carrousel de imagenes*/
.carrousel{
	width:600px;
	margin:auto;
	box-sizing:border-box;
}
.contecarrousel{
	width:100%;
	height:400px;
	overflow:hidden;
	box-sizing:border-box;
}
.itemcarrousel{
	position:relative;
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.itemcarrouseltarjeta{
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.itemcarrouselarrows{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	box-sizing:border-box;
}
.itemcarrouselarrows > i:hover{
	cursor:pointer;
}
.contecarrouselcontroller{
	width:100%;
	display:flex;
	justify-content:space-evenly;
}	
.contecarrouselcontroller > a{
	text-decoration:none;
	font-size:32px;
	color:grey;
}
.itemcarrouselarrows > a > i{
	color:white;
}
/*Cajas para productos*/
.caja{
	height:300px;
	width:250px;
	background:#4f4441;
	border:1px solid #4f4441;
	margin:5px;
	color:black;
	text-align:center;
	display:inline-block;
}
.caja:hover{
	box-shadow:0 0 10px #fff080;
	transform:scale(1.3);
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:blue;
	font-weight:bold;
}
.texto-adicional{
	padding-top:5px;
	font-size:15px;
}
.texto-descripcion{
	padding-top:5px;
	font-size:25px;
}
.descripcion{
	height:130px;
	width:605px;
	background:#4f4441;
	border:2px solid #4f4441;
	margin:20px;
	color:white;
	text-align:center;
	display:inline-block;
}
.navegacion{
	display:flex;
	height:100px;
}
.navegacion-item{
	flex:1;
	color:black;
	font-weight:bold;
	font-size:15px;
	display:flex;
	transition:flex-grow 0.2s;	
	justify-content:center;
	align-items:center;
}
.navegacion-titulo{
	margin:0;
	transform:rotate(-90deg);
	transition:transform 0.2s 0.2s;
}
.navegacion-item:hover{
	flex-grow:10;
}
.navegacion-item:hover .navegacion-titulo{
	transform:rotate(0);
}
.navegacion-item:nth-child(1){
	background:#c5b0a0;
}
.navegacion-item:nth-child(2){
	background:#978475;
}
.navegacion-item:nth-child(3){
	background:#8c7766;
}
.navegacion-item:nth-child(4){
	background:#726153;
}
.contacto{
	position:absolute;
	left:0;
	top:10;
	height:500px;
	width:610px;
	background:#4f4441;
	margin:5px;
	color:white;
	text-align:left;
	display:inline-block;
}
.texto-contacto{
	padding-top:5px;
	font-size:35px;	
}
.logo-contacto{
	position:absolute;
	right:0;
	top:10;
	height:500px;
	width:805px;
	background:#4f4441;
	margin:5px;
	color:white;
	text-align:center;
	display:inline-block;
}
/*FUENTES TIPOGRAFIAS*/
@FONT-FACE{
	font-family:fuente-Marimpa;
	src:url(../fuentes/Marimpa.otf);
}
div#font-encabezado{
	font-family:fuente-Backso;
}	
@FONT-FACE{
	font-family:fuente-Backso;
	src:url(../fuentes/Backso.ttf);
}



